.header-top {
	background-color: #10BBD5;
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 52px;
	padding-right: 52px;


}

.buy {
	background-image: url(../img/cart_icon.png);

	background-repeat: no-repeat;
	border: none;
	background-color: #10BBD5;
	padding-right: 52px;


}

.header-top-right {
	display: flex;
	justify-content: flex-start;
}

.price {
	padding-top: 10px;
}

.menu {
	display: flex;
	gap: 40px;
	justify-content: end;

}

.header-next {
	display: flex;
	justify-content: space-between;
	padding: 4px 52px;
	background-color: white;

}

.title {
	font-size: 32px;
	padding-top: 32px;
	padding-bottom: 23px;
	padding-left: 52px;
	border-bottom: 1px solid #A8A8A8;
	margin-bottom: 24px;


}

.img-book {
	width: 178px;
	height: 280px;
	display: flex;
	margin: 0 auto;

}

.book-item-click {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.book-item {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 60px;
}

.photos-holder {
	display: grid;
	grid-template-columns: repeat(4, 306px);
	grid-auto-rows: 512px;
	gap: 20px;
	justify-content: center;

}

.main {
	background-color: #EEEEEF;

}

.button-chat {
	background-color: #10BBD5;
	border-radius: 100px;
	border: none;
	position: fixed;
	right: 0;
	top: 50%;

}

.header {
	position: sticky;
	top: 0;
	z-index: 2;

}

.button-book {

	padding: 8px 24px;
	margin-top: 20px;
	background-color: #4C394E;
	color: white;
	width: 80%;
}

.button-book-two {
	background-color: #4D762D;
}

.change-price {
	display: flex;
}

.price-book-old {
	color: gray;
	text-decoration: line-through;
}

.price-book {
	color: red;
}

.book-hit {
	background-color: #4200FF;
	color: white;
	padding: 8px 8px;
	width: 20px;
	position: absolute;
	left: -30px;
	border-radius: 4px;
	z-index: 1;


}

.book-new {
	background-color: #AF39E7;
	color: white;
	padding: 8px 8px;
	width: 31px;
	position: absolute;
	left: -30px;
	border-radius: 4px;

}

.book-discount-1 {
	background-color: #EA33C0;
	color: white;
	padding: 8px 8px;
	width: 58px;
	position: absolute;
	left: 20px;
	border-radius: 4px;

}

.book-discount-2 {
	background-color: #EA33C0;
	color: white;
	padding: 8px 8px;
	width: 58px;
	position: absolute;
	left: 9px;
	border-radius: 4px;

}

.book-discount-3 {
	background-color: #EA33C0;
	color: white;
	padding: 8px 8px;
	width: 58px;
	position: absolute;
	left: -29px;
	border-radius: 4px;

}

.wrapper {
	width: 1400px;
	margin: 0 auto;
}

.title-book {
	margin-top: 16px;
	font-size: 20px;

}

.author-book {
	font-size: 16px;
	color: #8E8E8E;

}

.footer {
	height: 88px;
	background-color: #4C394E;
	color: white;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 52px;
	padding-right: 52px;
}